.fe_txt {
  font-size: 11px;
}

.fe_date {
  width: 60px;
}

.wptic_data_basic {
 width: 700px;
 margin: 0
 border: solid 1px #000; /*#D2D2D2;*/
}

.admintable {
  width:650px;
  border-collapse:collapse;
}

.admintable td {
  border: none;
  padding: 3px;
}

#wptic_datamenu {
  border-top:0px;
  background-color:#EBEBEB;
}

#wptic_template {
  width:250px;
  height: 115px;
}

#wptic_memo {
  width:250px;
  height: 115px;
}